---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import CardListeview from "../components/CardListeview.astro";
import Cardinfomoede from "../components/CardInfomoede.astro";

const cards = [
  {
    position: 1,
    image: "/waterfall_swing.webp",
    label: "Inkl. fly & program",
    title: "HØJSKOLE PÅ MALDIVERNE, SRI LANKA, BALI & GILI ISLANDS",
    description:
      "Oplev 2 måneders eventyr på eksotiske tropeøer i Det Indiske Ocean. På Maldiverne venter kridhvide strande, turkisblåt vand og snorkling blandt farvestrålende fisk. Sri Lanka byder på spændende kultur og unikke oplevelser.",
    duration: "2 måneder",
    nextTrip: "8/1 - 8/3-25",
    price: "52.500 kr.",
    include: "Fly inkluderet",
    buttonText: "Læs mere",
  },
  {
    position: 2,
    image: "/australia1.webp",
    label: "Inkl. fly & program",
    title: "HØJSKOLE I AUSTRALIEN, NZ, BALI & GILI ISLANDS",
    description:
      "Oplev verden på en unik rejse til Bali, Australien og New Zealand. Udforsk Balis smukke natur og farverige kultur, Australiens vildmark og storbyer, samt New Zealands fantastiske landskaber og actionfyldte aktiviteter. Oplev kænguruer, tropiske strande, vulkaner og enestående dyreliv.",
    duration: "3 måneder",
    nextTrip: "8/4 - 8/7-25",
    price: "64.900 kr.",
    include: "Fly inkluderet",
    buttonText: "Læs mere",
  },
  {
    position: 3,
    image: "/japan.webp",
    label: "Inkl. fly & program",
    title: "HØJSKOLE I AUSTRALIEN, JAPAN, BALI & GILI ISLANDS",
    description:
      "Rejs ud i verden med os og oplev Australien og Asien! Udforsk Bali med tropiske strande og vulkaner, Gili Islands' paradis, Australien med strande og dyreliv, og Japan med pulserende storbyer og unik kultur.",
    duration: "2 måneder",
    nextTrip: "8/8 - 8/10-25",
    price: "54.900 kr.",
    include: "Fly inkluderet",
    buttonText: "Læs mere",
    extralabel: "Få pladser!",
  },
  {
    position: 4,
    image: "/australia2.webp",
    label: "Inkl. fly & program",
    title: "HØJSKOLE I HAWAII, AUSTRALIEN, JAPAN, BALI & GILI ISLANDS",
    description:
      "Eventyret venter! Tag på højskole i New York City med intro-aktiviteter, og fortsæt til Hawaii’s vulkaner og surf-spots, Australiens unikke dyreliv og strande, Japans kultur og storbyer, samt Bali og Gili Islands’ tropiske paradis",
    duration: "3 måneder",
    nextTrip: "8/11-25 - 8/2-26",
    price: "84.500 kr.",
    include: "Fly inkluderet",
    buttonText: "Læs mere",
  },
  {
    position: 5,
    image: "/caribbean.webp",
    label: "Inkl. fly & program",
    title: "HØJSKOLE I CARIBIEN, HAWAII & MEXICO",
    description:
      "Tag på højskole i paradis og oplev eventyr på Hawaiis vulkaner, Mexicos mayakultur og Caribiens tropiske strande. Udforsk regnskove, snorkl med havdyr og nyd lokale madoplevelser i fantastiske omgivelser.",
    duration: "3 måneder",
    nextTrip: "8/3 - 8/6-26",
    price: "67.900 kr.",
    include: "Fly inkluderet",
    buttonText: "Læs mere",
  },
  {
    position: 6,
    image: "/bolivia.webp",
    label: "Inkl. fly & program",
    title: "HØJSKOLE I BRASILIEN, BOLIVIA, COLOMBIA, ECUADOR, PERU & ARGENTINA",
    description:
      "Oplev Sydamerika på 3 måneder! Besøg Colombia, Machu Picchu, Amazonas, Bolivia og Buenos Aires. Afslut med strandliv og samba i Brasilien. En episk rejse fyldt med kultur, eventyr og naturoplevelser!",
    duration: "3 måneder",
    nextTrip: "8/7 - 8/10-26",
    price: "74.900 kr.",
    include: "Fly inkluderet",
    buttonText: "Læs mere",
  },
  {
    position: 7,
    image: "/nepal.webp",
    label: "Inkl. fly & program",
    title: "HØJSKOLE I INDIEN, NEPAL, THAILAND, VIETNAM & SRI LANKA",
    description:
      "Tag på eventyr i Asien og oplev Nepal, Indien, Sri Lanka, Vietnam og Thailand. Fra Himalayas bjerge og Nepals kultur, til Indiens storbyer og kulturmøder, videre til Sri Lankas naturskønne landskaber og Vietnams frodige natur. Afslut med tropisk afslapning og eventyr på Koh Lanta, før turen slutter i livlige Bangkok.",
    duration: "2 måneder",
    nextTrip: "8/11-26 - 8/2-27",
    price: "61.500 kr.",
    include: "Fly inkluderet",
    buttonText: "Læs mere",
  },
  {
    position: 8,
    image: "/mexico.webp",
    label: "Inkl. fly & program",
    title: "HØJSKOLE I COSTA RICA, MEXICO & COLOMBIA",
    description:
      "Oplev tre fantastiske lande på højskolerejse gennem Mexico, Costa Rica og Colombia. Fra solrige strande og mayakultur i Mexico, til regnskove og adventure i Costa Rica, og afslut med kultur og naturmøder i Colombia. Rejsen byder på både afslapning og spændende eventyr i nogle af Latinamerikas smukkeste og mest unikke områder.",
    duration: "3 måneder",
    nextTrip: "8/3 - 8/6-27",
    price: "58.900 kr.",
    include: "Fly inkluderet",
    buttonText: "Læs mere",
  },
  {
    position: 9,
    image: "/bali.webp",
    label: "Inkl. fly & program",
    title: "HØJSKOLE PÅ BALI, LOMBOK & GILI ISLANDS (SOMMERHØJSKOLE)",
    description:
      "Oplev et eventyr i Sydøstasien med vulkaner, bountystrande og snorkling. På Bali udforsker vi regnskove og vulkaner, mens Gili Islands byder på afslapning og snorkling. På Lombok vandrer vi i regnskove og lokale landsbyer, før vi slutter med surfing og højskolefællesskab.",
    duration: "4 uger",
    nextTrip: "8/7 - 8/8-27",
    price: "28.900 kr.",
    include: "Fly inkluderet",
    buttonText: "Læs mere",
  },
];
---

<MainLayout title="Rejser">
  <section class="relative w-full h-auto">
    <!-- Container for the image and overlay -->
    <div class="relative w-full">
      <!-- Dark overlay -->
      <div class="absolute inset-0 bg-neutral-950 w-full md:h-[800px] h-[450px] bg-opacity-30 z-[30]"></div>
      <!-- Image -->
      <img src="/listview.webp" alt="en gruppe af mennesker" class="object-cover w-full md:h-[800px] h-[450px] z-[10]" />
    </div>

    <!-- Text content over the image (no centering) -->
    <div class="absolute w-full p-s top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-[40]">
      <h4 class="font-lato text-neutral-50 md:text-h4-desktop text-h4-mobile md:pt-xs pt-xl">Priser &</h4>
      <h1 class="text-display-mobile md:text-display-desktop font-display font-bold text-neutral-50">REJSER</h1>
      <p class="font-lato text-neutral-50 md:text-p-desktop text-mobile-desktop max-w-3xl">
        Få et klart overblik over vores højskoleophold i udlandet. Her finder du information om forløb, datoer, priser og alt, hvad du behøver at
        vide. På opholdssiderne kan du læse mere om programmet, adventure-aktiviteter, fag, rejsebreve og hvad der er inkluderet.
      </p>
      <div class="flex flex-column pt-sm gap-s md:flex md:pt-s">
        <a href="#contact">
          <Button variant="secondary" size="sm:xsmall md:medium">Kontakt</Button>
        </a>
        <a href="/infomoede">
          <Button variant="primary" size="sm:xsmall md:medium">Infomøde</Button>
        </a>
      </div>
    </div>
  </section>
  <section class="py-12 px-6 flex justify-center items-center">
    <div class="container mx-auto flex flex-wrap justify-center gap-sm md:pt-xs pt-xxxs">
      {
        cards.map((card) => (
          <CardListeview
            image={card.image}
            label={card.label}
            title={card.title}
            description={card.description}
            duration={card.duration}
            nextTrip={card.nextTrip}
            price={card.price}
            include={card.include}
            buttonText={card.buttonText}
            extralabel={card.position % 3 === 0 ? "Få pladser!" : null}
          />
        ))
      }
    </div>
  </section>
  <section class="flex flex-col px-s pt-sm mx-auto lg:max-w-7xl md:p-large md:pt-xl">
    <h1 class="text-h2-mobile font-display text-neutral-950 md:text-h1-desktop">Infomøde</h1>
    <p class="font-lato text-neutral-950 py-xxs text-p-mobile lg:w-1/2 md:text-p-desktop">
      Hvis du drømmer om et fantastisk rejseeventyr med masser af eventyr, vilde naturoplevelser og spændende kulturmøder så smut forbi et af vores
      hyggelige infomøder i København eller Aarhus – eller mød os på et online infomøde.
    </p>
    <div class="pb-sm"><Button variant="primary" size="medium">Tilmeld dig infomødet</Button></div>

    <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-md md:items-center pb-md">
      <Cardinfomoede
        url="#"
        cardimage="copenhagen.webp"
        sted="København"
        cardimagealt="København infomøde"
        lokale="Studenthuset, Købmagergade 52-1150"
        dato="16. Januar. 2025"
        tidspunkt="Kl.17-19"
      />
      <Cardinfomoede
        url="#"
        cardimage="aarhus.webp"
        sted="Aarhus"
        cardimagealt="Aarhus infomøde"
        lokale="LYN fabrikken, Vestergade 49B – 8000"
        dato="14. Januar. 2025"
        tidspunkt="Kl.17-19"
      />
      <Cardinfomoede
        url="#"
        cardimage="online.webp"
        sted="Online infomøde"
        cardimagealt="online infomøde"
        lokale="Online infomøde"
        dato="13. Januar. 2025"
        tidspunkt="Kl.17-19"
      />
    </section>
  </section>
</MainLayout>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
